*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  background-image: url(../image/photo.jpg);
  background-size: cover;
  background-position: center center;
}


.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  letter-spacing: 1px;
  padding: 8px;
  .weathercontainer {
    border-radius: 10px;
    position: relative;
    padding: 16px 16px;
    position: relative;
    .filter {
      background-color: rgba(0, 0, 0, 0.35);
      filter: blur(4px);
      box-shadow: 8px 12px 16px -4px rgba(150, 150, 150, 0.24);
      position: absolute;
      inset: 0;
      z-index: -1;
    }
    .mainInfo {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      p {
        font-size: 2.5rem;
      }
    }
    .otherInfo {
      display: flex;
      flex-wrap: wrap;
      div {
        margin-right: 30px;
        p {
          padding-top: 4px;
          padding-bottom: 4px;
        }
      }
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 6px;
      h3 {
        display: block;
      }
      li {
        padding-right: 4px;
        padding-left: 4px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: block;
        cursor: pointer;
      }
    }
    .otherweather {
      display: none;
    }
    .gear-fill {
      cursor: pointer;
      svg {
        position: absolute;
        top: 14px;
        right: 12px;
        color: #fff;
      }
    }
  }
}
.active {
  display: block !important;
}

@media screen and (max-width:555px) { 
  
}

section.animation-wrapper{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 10;
  section.animation{
      margin-top: 10vh;
      height: 80vh;
      // border: 5px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      .hero{
          // border: 5px solid green;
          width: 100%;
          height: 0%;
          img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              
          }
      }
  }
  .slider{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: linear-gradient(to right ,rgb(255,161,87),rgb(255,236,189));
      z-index: -1;
  }
}